
<style>
    .jumbotron{
        background:linear-gradient(135deg,lightblue,lightpink);
        padding:5%; 
    }
</style>

<div class="jumbotron" >
  <h1 class="display-4">Hello Wellcom WayWhite</h1>
  <p class="lead">在這座城市中 找一點微壞的感覺</p>
  <hr class="my-4">
  <p style="margin-bottom:3%">熙來攘往的城市裡 燈紅酒綠的馬路上 穿著微壞 耍著微壞</p>
</div>
<div class="container" style="margin-top:5%">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                  <img src="~/images/尺寸不合.jfif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">If the size does not fit, you can return the size for free for free</p>
                  </div>
                </div>
        </div>
        <div class="col">
                  <div class="card" style="width: 18rem;">
                  <img src=~/images/全心服務.jfif class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">The most attentive service you must feel Quality is guaranteed</p>
                  </div>
                </div>
        </div>
        <div class="col">
                  <div class="card" style="width: 18rem;">
                  <img src=~/images/抽獎.jfif class="card-img-top" alt="...">
                  <div class="card-body">
                  <p class="card-text">If the product is defective, return it for free and send shopping money</p>
                  </div>
                  </div>
        </div>

    </div>
</div>
